.detail {
    border: 10px solid rgb(0, 0, 0);
    width: 60%;
    height: 0%;
    padding: 20px;
    background-color: rgba(213, 168, 197, 0.6);
    box-shadow: 0 0 20px rgba(219, 26, 244, 0.3); 
    text-decoration:solid;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    justify-content: center;
    margin: 50px auto 0;
    font-family: "Arial";
  }
  
  img {
    width: 40%;
    border-radius: 10px;
  }
  
  .gohome{
    
    text-decoration: none;
    color: rgb(151, 255, 6);
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
  }