.card {
    display: flex;
    flex-direction: column;
    
    background-color: rgba(89, 95, 36, 0.7);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 25px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin-top: 1rem;
  }
  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .texto {
    text-decoration: none;
    color: black;
  }