.paginado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    place-items: center;
  
    
  }
  
  .button {
   margin-top: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background:transparent;
  
    border-color: #63f608;
    text-decoration: solid;
    color: rgb(45, 254, 3);
  }